OPTIONS=--loglevel=2 --listen=https://0.0.0.0:8443 --master=https://openshift-master1.comsysto.com:8443
CONFIG_FILE=/etc/origin/master/master-config.yaml
OPENSHIFT_DEFAULT_REGISTRY=docker-registry.default.svc:5000

AWS_ACCESS_KEY_ID = {{ aws_key }}
AWS_SECRET_ACCESS_KEY = {{ aws_secret }}

# Proxy configuration
# See https://docs.openshift.com/enterprise/latest/install_config/install/advanced_install.html#configuring-global-proxy
